<div class="container">
  <nav>  
    <button (click)="handleExpandClick()" [class.shake]="shakeExpand" #expandButton>
      <img src="../assets/expand_more.svg"/>
    </button>
    <div class="title-container">
      <div class="title">
        Termo
      </div>
      <div class="subtitle">
        Infinito
        <!-- Infinite version of <a href="https://term.ooo">termo</a> -->
      </div>
    </div>
    <button (click)="showConfig()">
      <img src="../assets/settings.svg"/>
    </button>
  </nav>

  <div class="main">
      <div class="try-container" *ngFor="let try of tries" #tryContainer>
        <div class="letter-container" *ngFor="let letter of try.letters"
            [class.match]="letter.state === LetterState.FULL_MATCH"
            [class.partial]="letter.state === LetterState.PARTIAL_MATCH"
            [class.wrong]="letter.state === LetterState.WRONG"
            [class.has-text]="letter.text !== ''"
            [class.next-letter]="isNextLetter(try, letter)"
            [class.current-row]="isCurrentRow(try, letter)">
          {{ letter.text }}
        </div>
    </div>
  </div>

  <div class="keyboard-container">
    <div [class]="['row' + i, 'row'].join(' ')"
        *ngFor="let row of keyboardRows; let i = index">
        <div *ngFor="let key of row" [class]="getKeyClass(key)"
            [class.enter]="key === 'Enter'"
            (click)="handleClickKey(key)">
            <div *ngIf="key !== 'Backspace'; else backspace">
              {{key}}
            </div>
            <ng-template #backspace>
              <img class="backspace-img" src="../assets/backspace.svg"/>
            </ng-template>
        </div>
    </div>
  </div>

  <div class="info-msg" 
      [class.show]="infoMsg !== ''"
      [class.fade-out]="fadeOutInfoMessage">
    {{ infoMsg }}
  </div>

  <div class="config-dialog-container" [class.show]="showConfigDialogContainer" 
      (click)="closeConfigDialog()">
    <div class="config-dialog" [class.show]="showConfigDialog"
      (click)="$event.stopPropagation()">
      <label>Quantidade de letras</label>
      <input type="number" [value]="WORD_LENGTH" (keyup)="getWordLength($event)"/>
      <label>Quantidade de tentativas</label>
      <input type="number" [value]="NUM_TRIES" (keyup)="getNumberOfTries($event)"/>
      <button (click)="handleClickRestart()">Recomeçar</button>
      <button (click)="handleClickShare()">Compartilhar</button>
    </div>
  </div>
</div>