<div class="container">
  <div class="title-container">
    <div class="title">
      Infinite Termo
    </div>
    <div class="subtitle">
      Infinite version of <a href="https://term.ooo">termo</a>
    </div>
  </div>

  <div class="main">
    <div class="try-container" *ngFor="let try of tries" #tryContainer>
      <div class="letter-container" *ngFor="let letter of try.letters"
          [class.has-text]="letter.text !== ''"
          [class.next-letter]="isNextLetter(try, letter)"
          [class.current-row]="isCurrentRow(try, letter)">
        {{ letter.text }}
      </div>
    </div>
  </div>

  <div class="keyboard-container">
    keyboard
  </div>

  <div class="info-msg" 
      [class.show]="infoMsg !== ''"
      [class.fade-out]="fadeOutInfoMessage">
    {{ infoMsg }}
  </div>
</div>