.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 38px;
  }

  .subtitle {
    text-transform: uppercase;
    font-size: 27.5px;
    margin-top: -25px;
  }

  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    .try-container {
      display: flex;
      margin-bottom: 4px;
      font-size: 7vh;

      &.shake {
        animation-name: shake;
        animation-duration: 500ms;
      }

      .letter-container {
        width: 64px;
        height: 64px;
        border: 0.125em solid #615458;
        background-color: #615458;
        border-radius: 10%;
        box-sizing: border-box;
        margin: 0 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.65em;
        font-weight: 600;
        text-transform: uppercase;
        transition: transform 300ms;

        &.current-row {
          border: 0.125em solid #4C4347;
          background-color: transparent;
        }

        &.has-text {
          animation-name: letter-pop;
          animation-duration: 120ms;
        }

        &.match {
          background-color: #3aa394;
          border-color: #3aa394;
        }

        &.partial {
          background-color: #d3ad69;
          border-color: #d3ad69;
        }

        &.wrong {
          background-color: #312a2c;
          border-color: #312a2c;
        }

        &.fold {
          transform: scaleX(0);
        }

        &.bounce {
          animation-name: bounce;
          animation-duration: 1s;
        }

        &.next-letter {
          border-bottom: 0.25em solid #4C4347;
        }
      }
    }
  }

  .keyboard-container {
    margin-bottom: 12px;

    .row {
      display: flex;
      align-items: center;
      margin-top: 6px;
    }

    &.row1 {
      margin-left: 23px;
    }

    .key {
      height: 58px;
      min-width: 42px;
      margin-right: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 4px;
      background-color: #4C4347;
      font-size: 20px;
      font-weight: 500;
      user-select: none;

      &.enter {
        padding: 0 11px;
        text-transform: uppercase;
      }

      &:hover {
        background-color: #615458;
      }
    }

    .backspace-img {
      filter: invert(99%) sepia(96%) saturate(14%) hue-rotate(333deg) 
              brightness(104%) contrast(104%);
      height: 24px;
    }
  }

  .info-msg {
    position: absolute;
    top: 100px;
    padding: 8px 42px;
    background-color: #009AFE;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    opacity: 0;

    &.show {
      opacity: 1;
      animation-name: message-pop;
      animation-duration: 200ms;
    }

    &.fade-out {
      opacity: 0;
      transform: scale(0);
      transition: all 500ms;
    }
  }
}

// Animation for entering a letter
@keyframes letter-pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes message-pop {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translate(4px);
  }
}

@keyframes bounce {
  0%, 20%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(2px);
  }
}